* {
    font-size: 16px;
}
.list-unstyled {
    list-style: none;
}
/*INFO*/
.title {
    text-transform: uppercase;
    color: #993393;
    display: flex;
    font-weight: bold;
    margin-bottom: 8px;
}
.introduce-line div + div {
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}
.introduce-line div + div:before {
    content: '|';
    color: #909090;
    position: absolute;
    left: 0;
}
.price {
    color: #e7843f;
    font-weight: bold;
}
.price-sec .item + .item {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #e0e0e0;
}
.accordion-header {
    font-weight: bold;
    color: #1a4bb7;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding-left: 12px;
}
.label {
    font-weight: 700;
    color: #2b2b2b;
    width: 100px;
    font-size: 14px;
}
/*USER */
.btn-chat {
    height: 40px;
    padding: 8px 3px 8px 32px;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
    width: 100%;
    position: relative;
    outline: none;
    color: #ab8843;
}
.btn-chat:before {
    content: '';
    position: absolute;
    background-image: url('https://cdn.meeyland.com/img/icons/messenge.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px;
    left: 5px;
    top: 3px;
}
/*PHONE*/
.wrapper-phone {
    height: 48px;
    background: rgba(26, 75, 183, 0.8);
    border: solid 1px #e0e0e0;
    padding: 8px 16px;
    margin-top: 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}
.phone {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
    padding-left: 35px;
    color: #fff;
}
.phone:before {
    content: '';
    background: url('https://cdn.meeyland.com/img/icons/call.svg') no-repeat center;
    width: 27px;
    height: 30px;
    position: absolute;
    left: 0;
}

.btn-preview{
    z-index: 2;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(43, 43, 43, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.btn-preview:hover {
    background-color: rgba(43, 43, 43, 1);
    color: rgba(255, 255, 255, 1);
}

/*Sepcail*/
.special-highlight{
    font-weight: 700;
    font-size: 20px;
    color: #2b2b2b;
}
.special-wrapper{
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 0px;
    margin-bottom: 12px;
}
.special-wrapper li{
    margin-bottom: 8px;
    padding-left: 30px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 8px;
}
.special-wrapper li:before{
    content: "";
    width: 20px;
    height: 20px;
    mask: url(https://cdn.meeyland.com/img/icons/check-list-line.svg) no-repeat center/auto 14px;
    -webkit-mask: url(https://cdn.meeyland.com/img/icons/check-list-line.svg) no-repeat center/auto 14px;
    background-color: #63d417;
    position: absolute;
    top: 0;
    left: 3px;
    background-repeat: no-repeat;
    padding-bottom: 8px;
}
.special-wrapper-item.disable{
    font-weight: 400;
    font-size: 16px;
    color: rgba(43,43,43,0.4);
}
.special-wrapper-item.disable:before{
    content: "";
    width: 14px;
    height: 14px;
    background: #c4c4c4;
    background-size: contain;
    position: absolute;
    left: 2px;
    top: 5px;
    background-repeat: no-repeat;
    mask: url(https://cdn.meeyland.com/img/icons/close.svg) no-repeat center/auto 14px;
    -webkit-mask: url(https://cdn.meeyland.com/img/icons/close.svg) no-repeat center/auto 14px;
}

.special-wrapper-item:first-of-type{
    font-weight: 700;
    font-size: 18px;
    color: #1a4bb7;
}
.text-overflow-ellipsis{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
