@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}
.vue2leaflet-map{
    z-index: 0 !important;
}
.v-breadcrumbs{
    padding: 18px 0 !important;
}

/*::-webkit-scrollbar{*/
/*    width: 10px;*/
/*    height: 40px;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background: #9a9a9a;*/
/*    border-radius: 3px;*/
/*}*/
/*::-webkit-scrollbar-track{*/
/*    border-radius: 3px;*/
/*    background-color: rgba(43,43,43,0.08);*/
/*}*/
.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.size-14{
    font-size: 14px;
}
.font-700{
    font-weight: 700;
}

.cursor-pointer{
    cursor: pointer;
}
/*.v-progress-linear__bar, .v-progress-linear__bar__determinate {*/
/*    transition: none !important;*/
/*}*/

.tooltipCustom {
    max-width: 315px;
    font-size: 12px;
    text-align: center;
    background-color: #000 !important;
}
.tooltipCustom::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.custom-placeholer-color input::placeholder {
    color: #000 !important;
    opacity: 1;
}

.custom-label-color .v-label {
    color: #000000;
    opacity: 1;
}

.custom-color-text >>> .v-text-field__slot input {
    color: red
}
/*hide arrow*/
::v-deep input::-webkit-outer-spin-button,
::v-deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}