.vue2leaflet-map{
    z-index: 0 !important;
}
.v-breadcrumbs{
    padding: 18px 0 !important;
}

::-webkit-scrollbar{
    width: 8px;
    height: 40px;
}
::-webkit-scrollbar-thumb{
    background: #9a9a9a;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    border-radius: 3px;
    background-color: rgba(43,43,43,0.08);
}
