// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$sunhouse_primary: #3CB372;
$sunhouse_secondary: #2C9494;
$sunhouse_pinkLinght: #FBB2D2;
$sunhouse_pinkDeep: #FF9CC7;
$sunhouse_darkSky: #23717D;


$sunhouse_red1: #c70512;
$sunhouse_red2: #dd2d4a;
$sunhouse_blue1: #005fb8;
$sunhouse_blue2: #477998;
$sunhouse_white: #f4f4f4;
$sunhouse_grey2: #3b383a;
$sunhouse_grey: #bbbfca;
$sunhouse_black: #040101;


